nav {
    border-bottom: 0.25rem solid rgba(201, 191, 191, 0.362);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: unset;
    margin-top: 10px;
    height: 50px;
}

li {
    padding: 1rem;
    padding-bottom: 0.5rem;
    list-style: none;
    margin-right: 1rem;
}

li:last-child {
    margin-right: 7rem;
}

li a {
    text-decoration: none;
}

.text-secondary:hover {
    color: red;
}

.active {
    border-bottom: 2px solid rgb(92, 148, 186);
}